/*================================================================================ */
/* 1. Basics & Buttons												3000Themes.com
/*================================================================================ */
.content{
	z-index: 10;
}	
/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1280px) {
	}
	@media only screen and (max-width: 1280px) {
		.product-grid .product-thumb:hover .button-group .btn-compare,.product-layout.element-4 .product-thumb:hover .button-group .btn-compare,.product-related  .relt_product:hover .button-group .btn-compare{right:0;}
		.product-grid .product-thumb:hover .button-group .btn-wishlist,.product-layout.element-4 .product-thumb:hover .button-group .btn-wishlist,.product-related  .relt_product:hover .button-group .btn-wishlist{right:40px;}
		.product-grid .product-thumb:hover .button-group .btn-cart,.product-layout.element-4 .product-thumb:hover .button-group .btn-cart,.product-related  .relt_product:hover .button-group .btn-cart{right:80px;}
		#back_top{display:none;}
	}
	@media only screen and (max-width: 1199px) {
		.popular-cate .box-content .carousel-content .cate-image img {width: 100%;}
	}
	/*ipad 2 ngang*/
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		body{-webkit-text-size-adjust: none;}		
		header>.container>.row .col-sm-3{width:auto;}
		#top #top-links.pull-right{width:80%;}
		#logo img{width:85%;}
		.menubar{padding-top:26px;}
		#bt-search,header.boss_scroll #bt-search{padding-top:36px;padding-bottom:28px;}
		header.boss_scroll{min-height:auto;}
		/*home page*/
		.block-shopnow > div{width:49%;}
		.block-shopnow .left .title{top:2%;}
		.block-shopnow .right .title{top:7%;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {margin:0 10px;}
		.product-thumb  .button-group .btn-quickshop,.product-related .relt_product .button-group .btn-quickshop{display:none !important;}
		.bt-staticblock-freeshipping .bt-staticblock {width:32.5%}
		.popular-cate .box-content .carousel-content > div .cate-name{top:46%;}
		.product-layout .product-thumb .image img{width:100%;}
		.product-thumb .button-group .btn-cart, .relt_product .button-group .btn-cart{min-width:142px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content {margin-left: 25px;}
		.bt-footer-middle .footer-newsletter .newsletter-content table input.form-control{width:470px;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before{box-shadow:0 0 0 150px rgba(127,189,155,0.7) inset;}
		/*category*/
		.product-filter .display .btn-list {margin-right: -4px;}
		#content.col-sm-6 .product-filter .display .btn-list {margin-right: -3px;}
		.right-to-left #content.col-sm-6 .product-filter .display .btn-list {margin-right:0;margin-left: -3px;}
		.right-to-left .product-filter .display .btn-list {margin-right:0;margin-left: -4px;}
		.product-filter .box_limit select{width:70px;}
		.product-filter .box_sort select{width:120px;}
		.bt-block-category .block-title {top:7%;}
		#content.col-sm-6 .bt-block-category .block-title h1 {font-size: 28px; line-height: 30px;}
		#content.col-sm-6 .bt-block-category .block-title h4 {font-size: 14px; line-height: 16px;margin-bottom:14px;}
		#content.col-sm-6 .bt-block-category .block-title a{padding:8px 20px;}
		.cart-info .table tbody tr td.remove .btn-update {margin-right:5px;}
		/*detail*/
		.product-info .button-group .btn-wishlist{width:45%}
		.product-info .button-group .btn-compare {width:53%}
		.product-related .relt_product .image img {width: 100%;}
		.checkout .panel .panel-body .left-content {margin-right: 30px;}
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare{font-size:0;width:48%;}
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {		
		
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {	
		body{-webkit-text-size-adjust: none; }
		.popular-cate .box-content .prev{left:15px}
		.popular-cate .box-content .next{right:15px}
		.product-thumb  .button-group .btn-quickshop,
		.product-related .relt_product .button-group .btn-quickshop{display:none !important;}
		.button-group.button-grid .btn-cart {width: calc(100% - 80px);}
		.product-related .relt_product .image img{width:100%;}
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px) {	
		.popular-cate .box-content .carousel-content .cate-image img{width:100%;}
		.product-filter .link-compare{width:24%;}
		#content.col-sm-6 .product-filter .link-compare{width:45%;padding-left:12px;}
		.right-to-left #content.col-sm-6 .product-filter .link-compare{padding-left:0;padding-right:12px;}
		.product-filter .display {width: 15.5%;}
		#content.col-sm-6 .product-filter .display {width: 24%;}
		#content.col-sm-6 .product-filter{height:auto;padding-left:0}
		.right-to-left #content.col-sm-6 .product-filter{padding-right:0}
		#content.col-sm-6 .product-filter .limit-sort{float:left;width:100%;border-top:1px solid #eaeaea; padding-left:12px;		text-align:left;height:42px;}
		.right-to-left #content.col-sm-6 .product-filter .limit-sort{text-align:right;padding-right:12px;padding-left:0}
		.product-filter .limit-sort {width:60%;}
		.product-filter .box_limit{margin-left:0;}
		.product-filter .box_sort{width:55%;}
		.popular-cate .box-content .prev{left:17px}
		.popular-cate .box-content .next{right:12px}
		.cart-info .table tbody tr td.quantity input{margin:0;}
		.cart-info .table tbody tr td.quantity button{padding:0;}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) ipad doc */
	@media only screen and (min-width: 768px) and (max-width: 1023px) {		
		.common-home #bt_header {position: static;}
		#top #top-links.pull-right {width:70%;}
		#top ul.list-inline{margin-right:25px;}
		#top #top-links .list-inline .dropdown .dropdown-menu{left:0; right:auto;}
		.currency .btn-group, .language .btn-group {padding-bottom: 10px;}
		#bt-search .search-form { opacity: 1; position: static;visibility: visible;}
		#bt-search .icon_search {display: none;}
		#search {border:none;box-shadow: none; padding:34px 0 20px;}
		#bt-search,.common-home #bt-search {padding: 0;width: 50%;}
		#search input {width: 100%;}
		#top .list-inline > li.dropdown,#cart {padding-bottom: 12px;}
		.header_slider{margin-top:0;}
		header .col-sm-3{width:auto;}
		header.boss_scroll #bt-search,header.boss_scroll #logo{display:none;}
		header.boss_scroll{min-height:auto;}
		.right-to-left .currency,.right-to-left .language {margin-left: 15px;}
		.right-to-left #top ul.list-inline{margin-left:0;}
		.right-to-left #top ul.list-inline >li{padding-right:0; padding-left:15px}
		/*home page*/
		.bt-staticblock-freeshipping .bt-staticblock-title h2{font-size:18px}
		.bt-staticblock-freeshipping .bt-staticblock {width:32%;padding:0 18px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4{margin:0 8px; width:23%;}
		.bt-block-theme-features .box-content { margin:0}
		.block-shopnow > div{width:48.5%;}
		.block-shopnow .left .title { top:0;}
		.block-shopnow .left .title i {font-size:88px;line-height:90px;}
		.block-shopnow .title sup {font-size:48px; top: -30px;}
		.block-shopnow .left .title sub {font-size:26px;margin-left: -34px;}
		.block-shopnow .title .cate-name {font-size: 26px;line-height:28px;}
		.block-shopnow .left .title .count-product {margin-bottom:18px;}
		.block-shopnow .right .title i {font-size:74px;line-height:76px;}
		.block-shopnow .right .title {top:4%;}
		.block-shopnow .right .title .cate-name {margin-bottom:16px;}
		.product-thumb .button-group .btn-cart{font-size:0;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .article-name a{font-size:14px; line-height:18px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .time-stamp{font-size:11px; line-height:20px; margin-bottom:5px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .description p {line-height: 18px;}
		.bt-block-home-bg .title p {max-width:748px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content{margin-left:18px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail{padding:0 20px 28px;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before{box-shadow:0 0 0 90px rgba(127,189,155,0.7) inset;}
		/*footer*/
		.bt-footer-middle .footer-social ul li {margin-right:3px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .title {min-width: 45%;}
		.bt-footer-middle .footer-newsletter input.form-control {padding-left:18px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .title a {line-height: 20px;}
		.bt-footer-top > .container > .row > div + div { margin-top: 30px; padding-left:0}
		.right-to-left .bt-footer-top > .container > .row > div + div {padding-right:0;}
		.bt-footer-top .box-tweeter{padding-left:0}
		.bt-footer-middle .footer-newsletter .newsletter-content {float: left;margin-top: 20px;}
		.right-to-left .bt-footer-middle .footer-newsletter .newsletter-content {float:right}
		/*category*/
		#column-left .box-heading h1, #column-right .box-heading h1 {font-size:21px;}
		.bt-banner-left > a > span.image1 {top: 42%;}
		.bt-banner-left > a > span.image2 {top: 55%;}
		.bt-block-category .block-title{top:11%;}
		.bt-block-category .block-title h1{font-size:40px; line-height:42px;}
		#content.col-sm-6 .bt-block-category .block-title h1{font-size:22px; line-height:26px;}
		.bt-block-category .block-title h4{font-size:16px;line-height:18px;}
		#content.col-sm-6 .bt-block-category .block-title h4{font-size:12px;line-height:14px;margin-bottom:14px;}
		.product-filter .box_limit select{width:65px;}
		.product-filter .box_sort select,.another-language #content.col-sm-6 .product-filter .box_sort select{width:110px;}
		.product-layout .product-thumb .image img{width:100%;}
		/*detail*/
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare{font-size:0;width:48%;}
		.product-related .relt_product .image img {width: 100%;}
		.product-info .quantily_info .title_text {width:15%}
		/*shopping cart*/
		.cart-info .table tbody tr td.remove .btn-update {margin-right:0; margin-bottom:5px;margin-left:0;}
		.checkout .panel .panel-body .left-content {margin-right: 30px;}
		#content.col-sm-9 .checkout .panel .panel-body .left-content {margin-bottom: 35px;margin-right: 0;width: 100%;}
		#content.col-sm-9 .checkout .panel .panel-body .right-content{width:100%;}
		.cart-info .table tbody tr td.quantity input{margin:0;}
		.cart-info .table tbody tr td.quantity button{padding:0;}
		/*myaccount*/
		.register .form-control {width:50%;}
		.another-language  .product-layout .product-thumb  .button-group .btn-cart{font-size:0;}
		.another-language  .product-filter{height:auto;padding-right:0;}
		.another-language  .product-filter>*{height:42px;}
		.another-language .product-filter .link-compare {width: 30%;padding-right:12px;}
		.another-language .product-filter .limit-sort {width:100%;border-top:1px solid #eaeaea}
		.another-language  .product-filter .box_sort select{width: 140px;}
	}
	@media only screen and(min-width: 991px) {		
		.container {width: 748px;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.openNav #bt_container {overflow: visible;}
		/*header*/
		header.boss_scroll{position:static;}
		.right-to-left #top ul.list-inline {margin-left: 0;}
		.right-to-left .currency {margin-right: 0;}
		header > div > div .col-sm-3{float:none;}
		#logo{text-align:center; margin-left:0;margin-bottom:10px;}
		#logo a{display:inline-block;}
		#logo img{margin:0 auto}
		.currency .dropdown-menu, .language .dropdown-menu { left: 0;right: auto;}
		#bt-search{float:none;width:100%; padding:0;margin-bottom:30px;}
		.common-home #bt-search{padding:0}
		#bt-search .search-form{position:static; visibility:visible; opacity:1; filter:alpha(opacity=1)}
		#bt-search .icon_search{display:none;}
		#search{box-shadow:none;border:none;padding:0; width:100%;}
		#search input{width:100%;padding-right:30px;height:40px; padding-right:30px;}
		.right-to-left #search input{padding-right:16px; padding-left:30px;}
		#search .btn {background:transparent !important;color: #666 !important;height: 40px;position: absolute;right: 0;top: 0;z-index:3}
		#cart{width:auto;}
		.right-to-left #search .btn {left:0;right:auto;}
		#search  .input-group-btn{position:static;width: auto;}
		#cart .dropdown-menu{min-width:310px;}
		#top ul.list-inline > li > a span .fa{display:block}
		#top{position:absolute;right:10px;top:44px;padding:0;background:none!important;border:none;z-index:23;}
		.right-to-left #top{left:10px; right:auto}
		#top #top-links.pull-left{display:none;}
		#top #top-links.pull-right{width:auto;}
		#top .pull-left, #top .pull-right ul.list-inline > li + li, .bt-language, .bt-currency{display:none;}
		#cart > .btn, #top #right_top_links .list-inline .dropdown >a {border: 1px solid #dedede;height: 30px;text-align: center;width: 30px;}
		#cart > .btn, #top #right_top_links .list-inline .dropdown> a, #top #right_top_links .list-inline .dropdown a > i{font-size:0}
		#cart > .btn .fa, #top #right_top_links .list-inline .dropdown a  span .fa {line-height: 28px;margin: 0;vertical-align: top;color:#5c5451;font-size:14px;}
		#top ul.list-inline{margin-right:5px;margin-left:0;}
		.right-to-left #top ul.list-inline{margin-right:0;margin-left:5px;}
		#top .pull-right ul.list-inline >li.dropdown{display:block;padding:0 0 12px;}
		#top .pull-right ul.list-inline > li a span .fa, #top #right_top_links .list-inline .dropdown a, #top #right_top_links .list-inline .dropdown {display:block;}
		.common-home #bt_header{position:static;}
		#bt_header{padding:10px 10px 0;}
		.right-to-left #top .dropdown-menu{left:0;right:auto;}
		.bt-mobile .bt-language,.bt-mobile .bt-currency{display:inline-block; float:none; width:48%; margin-bottom:20px; text-align:center;}
		.bt-mobile .bt-currency{margin-right:0; margin-left:0;}
		.bt-mobile  .language,.bt-mobile .currency {margin:0;}
		.bt-mobile .language .btn-group > .btn, .bt-mobile .currency .btn-group > .btn{ background:#fff; font-size:14px; width:140px; height:30px; text-align:left; padding:0 10px; line-height:30px; float:none;}
		.bt-mobile .language .btn-group > .btn i, .bt-mobile .currency .btn-group > .btn i{margin-left:calc(50%);}
		.right-to-left .bt-mobile .language .btn-group > .btn i,.right-to-left  .bt-mobile .currency .btn-group > .btn i{margin-left: 0; margin-right: calc(50%);}
		.bt-mobile .dropdown-menu{text-transform:uppercase;}
		.bt-mobile .logged-link{border-top:1px solid #444; position:relative; padding:40px 0; overflow:hidden;}
		.bt-mobile .logged-link:before{content:""; border-left:1px solid #444; width:1px; height:100%; left:50%; top:0;position:absolute;}
		.bt-mobile{display:block;background:#343434;height: auto;left: -90%;position: absolute;top: 0;width: 90%;margin-bottom:0;border:none;float:right;padding:50px 0 80px;text-align:center;min-height:800px;}
		.bt-mobile .logged-link >a{color:#fffefe;text-transform:capitalize;display:block;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;float:left;width:50%;}
		.bt-mobile .logged-link >a i{display:block;width:40px;height:40px;background:#fff;border-radius:50%;text-align:center;
		vertical-align:top;line-height:40px;color:#3d3b48;margin-bottom:12px;font-size:16px;margin-left:auto;margin-right:auto;
		transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}
		.bt-mobile .logged-link >a:hover,.bt-mobile .logged-link >a:hover i {color:#7eba99;}
		/*homepage*/
		#content.col-sm-12 {padding: 0 10px;}
		.popular-cate .box-content .carousel-content .cate-image img {width: 100%;}
		.bt-block-home-bg .title p{padding:0 10px;line-height:20px;}
		.bt-block-home-bg {padding:62px 0}
		.boss-blog-featured .box-content .box-article .article_content{width:100%;}
		.boss-blog-featured {padding:0 10px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content {margin-left:0; margin-top:25px;}
		.boss-blog-featured .box-content .box-article .article_content .image  img{width:100%}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .article-name a{font-size:14px; line-height:20px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .description p {line-height: 18px;}
		.bt-staticblock-freeshipping .bt-staticblock .bt-staticblock-title h2{font-size:16px;}
		.bt-staticblock-freeshipping .bt-staticblock:last-child{ margin-right:0}
		.block-shopnow .right{margin-top:15px;}
		.block-shopnow > div{width:100%;}
		.block-shopnow .image img{width:100%}
		.boss_gallery .variable-sizes>div.ourbrand{width:50%;}
		.bt-video .vjs-default-skin .vjs-big-play-button{font-size:3em}
		.bt-block-theme-features .box-content{margin:0;}
		/*footer*/
		.bt-footer-top > .container > .row > div:first-child{padding-left:10px;}
		.right-to-left .bt-footer-top > .container > .row > div:first-child{padding-right:10px;}
		.bt-footer-top > .container > .row > div .box-tweeter{padding:0}
		.bt-footer-top > .container > .row > div +div{margin-top:3em;}
		.bt-footer-middle .bt-block-footer { padding: 0 10px; margin-bottom:30px;}
		.bt-footer-middle .boss-recent-post{margin-bottom:30px;}
		.bt-footer-middle .footer-social {width:100%;}
		footer .bt-footer-bottom{padding-left:10px; padding-right:10px;}
		.bt-footer-bottom .payment{float:left; text-align:left; margin-top:0;}
		.right-to-left .bt-footer-bottom .payment{float:right; text-align:right;}
		.bt-footer-bottom .powered{margin-bottom:10px;}
		.bt-footer-bottom .payment ul li:first-child {margin-left:0}
		.right-to-left .bt-footer-middle .bt-block-footer + div + div, .bt-footer-middle .footer-social {padding-right: 10px;}
		.bt-footer-middle .box.boss-recent-post {margin-bottom: 30px;}
		.bt-footer-middle .bt-newsletter{padding: 0 10px;}
		.bt-footer-middle .footer-newsletter .newsletter-content table input.form-control{width:100%;}
		.bt-footer-middle .footer-newsletter .title span{width:60px; margin-right:20px;}
		.right-to-left .bt-footer-middle .footer-newsletter .title span{margin-right:0; margin-left:20px;}
		.bt-footer-middle .footer-newsletter p{width:75%;margin-top:0;}
		.bt-footer-middle .footer-newsletter .newsletter-content{width:100%; margin-top:15px;}
		/*category*/
		.bt-breadcrumb{padding:0 10px;}
		#column-left + #content.col-sm-9 {padding-right: 10px;}
		.right-to-left  #column-left + #content.col-sm-9 {padding-left: 10px;}
		.product-filter .link-compare {width:100%}
		.product-grid .product-thumb .image img{width:100%}
		.result-pagination{margin-top:10px;}
		.product-info .col-sm-6 + .col-sm-6 {padding-left: 10px;}
		/*cart*/
		.cart-info,.checkout .table-responsive{border:none;}
		.cart-module .form-control,#content.col-sm-9 .cart-module .form-control {width:100%}
		.cart-total + .buttons  .pull-right{float:left; margin-top:20px;width:100%; text-align:left;}
		.right-to-left .cart-total + .buttons  .pull-right{text-align:right;}
		.right-to-left .cart-total + .buttons .btn.btn-blue {margin-right:0;}
		.cart-total table {float: left;}
		.right-to-left .cart-total table {float: right;}
		.checkout .panel .panel-body .left-content {margin-right: 0; width: 100%;margin-bottom:35px;}
		#payment-new .form-control, #shipping-new .form-control,
		#shipping-existing .form-control, #payment-existing .form-control,
		#content.col-sm-9 #payment-new .form-control,#content.col-sm-9  #shipping-new .form-control{width: 100%;}
		.right-to-left .product-info > div > div:first-child {float: none;}
		/*myaccount*/
		.content-login .left{margin-right:0; margin-bottom:40px;}
		.content-login .right{margin-left:0}
		.register .form-control {width:100%;}
		#content.col-sm-6 {float: none;}
		.bt-video .video-js .vjs-tech{height:100%;}
		.col-sm-12{padding:0 10px;}
		.cart-module .panel + .panel{padding-left:0;}
		.cart-total +.buttons{margin-top:20px;}
		.cart-info .table, .wishlist-info .table{border:0 none;}
		.cart-info .table thead tr, .wishlist-info .table thead tr{left: -9999px;position: absolute;top: -9999px;}
		.cart-info .table td.image,.wishlist-info .table td.image{float:left;width:45%; margin-bottom:15px;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{float:left;width:55%;padding-left:0;}
		.cart-info .table tbody tr td.name small{display:none;}
		.cart-info .table, .wishlist-info .table,.cart-info .table thead, .wishlist-info .table thead,.cart-info .table tbody, .wishlist-info .table tbody,.cart-info .table tr, .wishlist-info .table tr,.cart-info .table td, .wishlist-info .table td{display:block}
		.cart-info .table tbody  tr,.wishlist-info .table tbody tr{border:1px solid #eaeaea;padding-bottom:17px;}
		.cart-info .table tbody  tr +tr,.wishlist-info .table tbody tr +tr{border-top:none;}
		.cart-info .table tbody  tr  td,.wishlist-info .table tbody tr  td{border: medium none;float: none;position: relative;white-space: normal;width: auto;padding-bottom:0;text-align:left;padding-left:10px;padding-right:10px;}
		.cart-info .table tbody tr td.quantity .input-group{margin:0;}
		.bt-breadcrumb +.row .alert {margin-left:10px; margin-right:10px;}
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		body{-webkit-text-size-adjust: none; }
		.currency, .language{margin-right:15px;}
		.right-to-left .currency,.right-to-left .language{margin-right:0;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {float:none; display:inline-block; margin:0; width:46.5%; vertical-align:top;margin-bottom:20px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 .image img{width:100%;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.odd{margin-right:18px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.even{margin-left:18px;}
		.right-to-left .bt-featured-pro .bt-product-content .bt-item-extra.element-4.even{margin-left:0;margin-right:18px;}
		.right-to-left .bt-featured-pro .bt-product-content .bt-item-extra.element-4.odd{margin-right:0;margin-left:18px;}
		.product-layout.product-grid {width:50%;}
		.bt-block-category .block-title {top: 13%;}
		.bt-block-category .block-title h1 {font-size:34px; line-height:36px;}
		.bt-block-category .block-title h4{font-size:14px;}
		.bt-block-category .block-title a{padding:8px 20px;}
		.content-search .box-search .form-control,.content-search .box-search-cate .form-control {width:70%;}
		.bt-staticblock-freeshipping .bt-staticblock{padding-left:10px; padding-right:10px; width:32%;}
		.bt-staticblock-freeshipping{padding:100px 0;}
		#content {min-height: 750px;}
		.popular-cate .box-content .carousel-content > div .cate-name {top:47%}
		.bt-video {height: 350px !important;}
		.bt-video .bt_video_text span {font-size:38px;line-height:40px;margin-bottom:24px;}
		.bt-video .bt_video_text p{font-size:18px;line-height:20px;}
		.bt-video .video-js .vjs-big-play-button {height: 60px;left: 45%;top: 62%;width: 60px;}
		.bt-video .vjs-default-skin .vjs-big-play-button:before{line-height:2em}
		.bt-video .bt_video_text{top:15%;}
		.cart-info .table td.image,.wishlist-info .table td.image{width:25%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:75%;}
		.boss-blog-featured .box-content .box-article .article_content{max-width:480px; margin-left:auto;margin-right:auto;float:none}
		.boss-blog-featured .box-content .box-article .article_content,.boss-blog-featured .box-content .box-article .article_content + .article_content{margin-left:auto;margin-right:auto;}
		.boss-blog-featured .box-content .box-article{text-align:center;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before{box-shadow:0 0 0 180px rgba(127,189,155,0.7) inset;}
		.bt-block-theme-features .box-content .item-theme-features{margin-bottom:30px;}
		.bt-block-theme-features .box-content .item-theme-features a.image:hover:before{ box-shadow: 0 0 0 130px rgba(0, 0, 0, 0.3) inset;}
	}
	@media only screen and (max-width: 630px) { 
		.right-to-left 	#top ul.list-inline{float:right;text-align:right}
		#top ul.list-inline{float:left}
		.block-shopnow .left .title { top:6%;}
		.block-shopnow .left .title i {font-size:100px;line-height:102px;}
		.block-shopnow .title sup {font-size:56px; top: -34px;}
		.block-shopnow .left .title sub {font-size: 32px;margin-left: -40px;}
		.block-shopnow .title .cate-name {font-size: 28px;line-height:30px;}
		.block-shopnow .left .title .count-product {margin-bottom:25px;}
		.block-shopnow .right .title i {font-size:90px;line-height:92px;}
		.block-shopnow .right .title {top: 8%;}
		.block-shopnow .right .title .cate-name {margin-bottom:20px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.odd{margin-right:12px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.even{margin-left:12px;}
		.cart-info .table td.image,.wishlist-info .table td.image{width:35%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:65%;}
	}
	@media only screen and (min-width: 550px) and (max-width: 610px){
		.bt-video .bt_video_text{top:14%;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4{width:47.3%}
	}
	@media only screen and (min-width: 515px) and (max-width: 549px){
		.bt-block-category .block-title h1 {font-size:30px; line-height:32px;}
		h1.block-title + .table td .btn-gray + .btn-blue{margin-top:10px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {width:47%;}
	}
	@media only screen and (min-width: 480px) and (max-width: 514px){
		.bt-block-category .block-title h1 {font-size:30px; line-height:32px;}
		.bt-block-category .block-title {right: 14px; top: 50px;}
		h1.block-title + .table + .buttons .btn-gray + .btn-blue {margin-top:10px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4{width:47.5%}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.odd{margin-right:9px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.even{margin-left:9px;}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
		body{-webkit-text-size-adjust: none;}
		#top  #top-links.pull-left {width:100%;margin-bottom:5px;text-align:center;}
		#top #top-links.pull-right{width:100%;}
		.currency{margin-right:30px;}
		.bt-featured-pro{margin-bottom:20px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {margin: 0 0 40px;width:48%;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.odd {margin-right:6px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4.even{margin-left:6px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 .image img{width:100%}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 .button-group .btn-cart{padding:0 30px;min-width:inherit;font-size:0;}
		.bt-featured-pro .box-heading h1{font-size:28px;}
		.bt-block-theme-features {text-align:center;}
		.bt-block-theme-features .box-content .item-theme-features{float:none;width:100%;margin-bottom:30px;padding:0 25px; max-width:400px; margin-left:auto; margin-right:auto;}
		.bt-block-theme-features .box-content .item-theme-features a img{width:100%;}
		.bt-block-theme-features .box-content .item-theme-features a.image:hover:before {box-shadow: 0 0 0 125px rgba(0, 0, 0, 0.3) inset;}
		.bt-block-category .block-title h1,#content.col-sm-6 .bt-block-category .block-title h1{font-size:20px; line-height:22px;}
		.bt-block-category .block-title h4{font-size:12px;line-height:14px; margin-bottom:10px}
		.bt-block-category .block-title a{padding:5px 14px;font-size:10px;}
		.result-pagination .results{float:none;width:100%;margin-bottom:15px;text-align:center;}
		.result-pagination .links { overflow: visible;}
		.content-search .box-search .form-control,.content-search .box-search-cate .form-control {width:100%;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail {padding:0 22px 28px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .more-info .time-stamp {font-size:10px;}
		.bt-video .video-js .vjs-big-play-button {width:50px;height:50px; left:44%;top:66%}
		.bt-video .vjs-default-skin .vjs-big-play-button:before {line-height:46px;}
		.bt-video .bt_video_text {top:6%}
		.category-list ul{width:40%}
		.category-list ul +ul +ul{margin-top:20px;}
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare {width: 100%;}
		.product-info .button-group .btn-wishlist{margin-bottom:15px;}
		.product-related .carousel-button {top:35px;}
		.product-related h1 {margin-bottom: 50px;}
		h1.block-title + .table td .btn-gray + .btn-blue {margin-top:10px;}
		.bt-staticblock-freeshipping .bt-staticblock{width:100%;margin-right:0;}
		.bt-staticblock-freeshipping{padding:70px 0}
		.bt-staticblock-freeshipping .bt-staticblock + .bt-staticblock {margin-top:40px;}
		.product-info .quantily_info .title_text {width:15%;}
		.review-product .form-horizontal .form-group .control-label {width:34.5%}
		.product-thumb .button-group .btn-cart i{margin-right:10px;}
		.bt-video {height: 210px !important;}
		.bt-video .bt_video_text span {font-size:34px;line-height:36px;margin-bottom:20px;}
		.bt-video .bt_video_text p{font-size:14px;line-height:16px;}
		.block-shopnow .left .title { top: 0;}
		.block-shopnow .left .title i {font-size: 70px;line-height: 72px;}
		.block-shopnow .title sup {font-size: 36px; top: -26px;}
		.block-shopnow .left .title sub {font-size: 22px;margin-left: -38px;}
		.block-shopnow .title .cate-name {font-size: 24px;line-height: 26px;margin-bottom:10px;}
		.block-shopnow .left .title .count-product {margin-bottom: 10px;}
		.block-shopnow .right .title i {font-size: 58px;line-height:58px;}
		.block-shopnow .right .title {top: 4%;}
		.block-shopnow .right .title h2{font-size:18px;line-height:20px;margin-bottom:10px;}
		.block-shopnow .right .title .cate-name {margin-bottom: 15px;}
		.boss_gallery .variable-sizes .ourbrand a{padding:10px;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before{box-shadow:0 0 0 165px rgba(127,189,155,0.7) inset;}
		.cart-total table tr td{padding-right:40px;}
		.cart-total table tr td.left{padding-left:40px;}
		.cart-info .table td.image,.wishlist-info .table td.image{width:40%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:60%;}
	}
	@media only screen and (max-width: 390px){
		#logo img{width:75%;}
		#top{top:38px;}
	}
	@media only screen and (max-width: 350px){
		.bt-video .bt_video_text span{font-size:42px; line-height:44px;}
		.bt-video .bt_video_text p{font-size:18px;}
		.bt-featured-pro .box-heading h1 {font-size: 26px;}
		.product-layout{padding:0 10px;}
		.block-shopnow .left .title i {font-size:64px;line-height: 66px;}
		.block-shopnow .title sup {font-size: 32px; top: -22px;}
		.block-shopnow .left .title sub {font-size: 18px;margin-left: -24px;}
		.block-shopnow .title .cate-name {font-size: 20px;line-height: 22px;}
		.block-shopnow .left .title .count-product {margin-bottom: 10px;}
		.block-shopnow .right .title i {font-size:52px;line-height:54px;}
		.block-shopnow .right .title h2{font-size:14px;line-height:16px;}
		.block-shopnow .right .title .cate-name {margin-bottom: 12px;}
		.block-shopnow .title > a{font-size:8px; padding:2px 18px;}
	}
	

