<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Comohos Store</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTMLCooker">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

	<!-- ================= Google Fonts ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/boss_megamenu.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/jquery.jgrowl.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/boss_alphabet.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/boss_facecomments.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/loading.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/cs.animate.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/video.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/isotope.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/bossblog.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/revolutionslider_settings.css" media="screen" />

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="common-home">
    <div id="bt_loading">
        <div class="bt-loading">
            <div id="circularG">
                <div id="circularG_1" class="circularG"> </div>
                <div id="circularG_2" class="circularG"> </div>
                <div id="circularG_3" class="circularG"> </div>
                <div id="circularG_4" class="circularG"> </div>
                <div id="circularG_5" class="circularG"> </div>
                <div id="circularG_6" class="circularG"> </div>
                <div id="circularG_7" class="circularG"> </div>
                <div id="circularG_8" class="circularG"> </div>
            </div>
        </div>
    </div><!-- /#bt_loading -->

    <div id="bt_container" class="bt-wide">
        <div class="home-chairdecor">
            <div id="bt_header">
                <nav id="top">
                    <div class="container">
                        <div class="row">
                            <div id="left_top_links" class="nav pull-left"> <a href="contact.html"><i class="fa fa-phone"></i> <span>HOTLINE: 111-111-1111</span></a> </div>
                            <div id="right_top_links" class="nav pull-right">
                                <div class="pull-right">
                                    <div id="cart" class="btn-group btn-block">
                                        <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">2 item(s) - $316.00</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <table class="table table-striped">
                                                <tr>
                                                    <td class="text-left image">
                                                        <div class="image">
                                                            <a href="product-detail.html"><img src="images/product/p21-115x131.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-thumbnail" />
                                                            </a>
                                                            <div class="remove">
                                                                <button type="button" title="Remove" class="btn-danger"><i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left name">
                                                        <a href="product-detail.html">Cashmere cuff vintage Levi maxi</a>
                                                        <br /> - <small>Color Pink</small>
                                                        <div>2 x <span class="price">$316.00</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <div class="cart_bottom">
                                                <table class="minicart_total">
                                                    <tr>
                                                        <td class="text-left"><span>Sub-Total</span>
                                                        </td>
                                                        <td class="text-right">$260.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Eco Tax (-2.00)</span>
                                                        </td>
                                                        <td class="text-right">$4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>VAT (20%)</span>
                                                        </td>
                                                        <td class="text-right">$52.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Total</span>
                                                        </td>
                                                        <td class="text-right">$316.00</td>
                                                    </tr>
                                                </table>
                                                <div class="buttons">
                                                    <span class="cart_bt"><a href="cart.html" class="btn">View Cart</a></span>
                                                    <span class="checkout_bt"><a class="btn btn-shopping" href="checkout.html">Checkout</a></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="bt-language">
                                    <form method="post" enctype="multipart/form-data" class="language">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <img src="images/flags/gb.png" alt="English" title="English"> <span>en</span><i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="images/flags/gb.png" alt="English" title="English" /></span></a>
                                                </li>
                                                <li><a href="de"><span class="text-left">Deutsch</span><span class="text-right"><img src="images/flags/de.png" alt="Deutsch" title="Deutsch" /></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value="" />
                                        <input type="hidden" name="redirect" value="" /> </form>
                                </div><!-- /.bt-language -->
                                <div class="bt-currency">
                                    <form  method="post" enctype="multipart/form-data" class="currency">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value="" />
                                        <input type="hidden" name="redirect" value="" /> </form>
                                </div><!-- /.bt-currency -->
                                <ul class="list-inline">
                                    <li class="dropdown"><a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-user"></i>My Account</span><i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="register.html"><span>Register</span><span><i class="fa fa-unlock-alt"></i></span></a>
                                            </li>
                                            <li><a href="login.html"><span>Login</span><span><i class="fa fa-user"></i></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="wishlist.html" id="wishlist-total" title="Wish List (0)"><span><i class="fa fa-heart"></i>Wish List (0)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                    </div>
                </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
                <div class="bt-mobile">
                    <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                        <div class="bt-language">
                            <form method="post" enctype="multipart/form-data" class="language">
                                <div class="btn-group">
                                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <img src="images/flags/gb.png" alt="English" title="English"> <span>en</span><i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="images/flags/gb.png" alt="English" title="English" /></span></a>
                                        </li>
                                        <li><a href="de"><span class="text-left">Deutsch</span><span class="text-right"><img src="images/flags/de.png" alt="Deutsch" title="Deutsch" /></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="" /> </form>
                        </div><!-- /.bt-language -->
                        <div class="bt-currency">
                            <form  method="post" enctype="multipart/form-data" class="currency">
                                <div class="btn-group">
                                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="" /> </form>
                        </div><!-- /.bt-currency -->
                        <div class="logged-link"> <a href="login.html"><i class="fa fa-sign-in"></i><span>Sign In</span></a> <a href="register.html"><i class="fa fa-hand-o-up"></i><span>Join for Free</span></a> </div>
                        <div class="menubar">
                            <div class="container">
                                <div class="bt_mainmenu">
                                    <div class="row">
                                        <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                        <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                            <ul class="nav nav-pills">
                                                <li> <a href="/"><span class="menu-title">Home</span></a> </li>


                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p> <a href="/categories"><span class="menu-title">Categories</span><i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown drop-grid-6-1">
                                                        <div class="menu-row row-col-1">
                                                            <div class="menu-column row-grid-1">
                                                                <ul class="column category">
                                                                  <li class="col-grid-1 "> <a href="/porcelains">Porcelains</a> </li>
                                                                  <li class="col-grid-1 "> <a href="/doors">Doors</a></li>
                                                                  <li class="col-grid-1 "> <a href="/walls">Walls</a> </li>
                                                                  <li class="col-grid-1 "> <a href="/hardwood_floors">Hardwood Floors</a> </li>
                                                                  <li class="col-grid-1 "> <a href="/stairs">Stairs</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="parent">
                                                    <p class="plus visible-xs"></p> <a href="/gallery"><span class="menu-title">gallery</span></a>
                                                </li>

                                                <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.menubar -->
                    </div>
                </div><!-- /.bt-mobile -->
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div id="logo">
                                    <a href="/"><img src="images/Decotestlogo.png" title="Comohos Store" alt="Comohos Store" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                            <div id="bt-search" class="input-group"> <a class="icon_search" href=""><i class="fa fa-search"></i></a>
                                <div class="search-form">
                                    <div id="search" class="input-group">
                                        <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                          </span> </div>
                                </div>
                            </div><!-- /#bt-search -->
                            <!-- Load menu -->
                            <div class="menubar">
                                <div class="container">
                                    <div class="bt_mainmenu">
                                        <div class="row">
                                            <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                            <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                                <ul class="nav nav-pills">
                                                    <li> <a href="/"><span class="menu-title">Home</span></a> </li>

                                                    <li class="parent">
                                                        <p class="plus visible-xs">+</p> <a href="/categories"><span class="menu-title">Categories</span><i class="fa fa-angle-down"></i></a>
                                                        <div class="dropdown drop-grid-6-1">
                                                            <div class="menu-row row-col-1">
                                                                <div class="menu-column row-grid-1">
                                                                    <ul class="column category">
                                                                      <li class="col-grid-1 "> <a href="/porcelains">Porcelains</a> </li>
                                                                      <li class="col-grid-1 "> <a href="/doors">Doors</a></li>
                                                                      <li class="col-grid-1 "> <a href="/walls">Walls</a> </li>
                                                                      <li class="col-grid-1 "> <a href="/hardwood_floors">Hardwood Floors</a> </li>
                                                                      <li class="col-grid-1 "> <a href="/stairs">Stairs</a> </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="parent">
                                                        <p class="plus visible-xs">+</p> <a href="/gallery"><span class="menu-title">gallery</span></a>

                                                    </li>

                                                    <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.menubar -->
                        </div>
                    </div>
                </header>
                <!-- Load module in position header -->
            </div>
            <!-- End #bt_header -->
            <!-- Load module in position slideshow -->
            <div id="bt_slideshow">
                <div class="header_slider">
                    <article>
                        <div class="tp-banner-container">
                            <div class="tp-banner tp-banner0">
                                <ul>
                                    <!-- SLIDE  -->
                                    <li data-link="#" data-target="_self" data-transition="slotslide-horizontal" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                        <!-- MAIN IMAGE --><img src="images/dummy.png" alt="slidebg1" data-lazyload="images/slide/decoslidertest.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption medium_text sfl str rs-parallaxlevel-0" data-x="801" data-y="259" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-end="4500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> best choice of this week </div>
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption very_big_black sfl str rs-parallaxlevel-0" data-x="610" data-y="344" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-end="4000" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> chair decor </div>
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption large_text sfl str rs-parallaxlevel-0" data-x="897" data-y="442" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2000" data-end="3500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                    </li>
                                    <li data-link="#" data-target="_self" data-transition="zoomin" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                        <!-- MAIN IMAGE --><img src="images/dummy.png" alt="slidebg1" data-lazyload="images/slide/decoslidertest2.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption medium_text sft stb rs-parallaxlevel-0" data-x="675" data-y="258" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-end="4500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> BEST COLLECTION OF THIS YEAR </div>
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption very_big_black sft stb rs-parallaxlevel-0" data-x="618" data-y="332" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-end="4000" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> FURNITURE </div>
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption large_text sft stb rs-parallaxlevel-0" data-x="804" data-y="438" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2000" data-end="3500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                    </li>
                                </ul>
                                <div class="slideshow_control"></div>
                            </div><!-- /.tp-banner -->
                        </div>
                    </article>
                </div><!-- /.header_slider -->
            </div><!-- /#bt_slideshow -->
        </div><!-- /.home-chairdecor -->
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <div class="block-shopnow">
                        <div class="left">
                            <div class="image">
                                <a href="#"> <img src="images/banner/deco1.jpg" title="banner" alt="banner">
                                </a>
                            </div>
                            <div class="title"> <i>50</i><sup>%</sup><sub>off</sub>
                                <p class="cate-name">Living room</p>
                                <p class="count-product">10 Products</p> <a href="#">Shop now</a> </div>
                        </div>
                        <div class="right">
                            <div class="image">
                                <a href="#"> <img src="images/banner/deco2.jpg" title="banner" alt="banner"> </a>
                            </div>
                            <div class="title">
                                <h2>New Arrivals</h2> <i>1000</i><sup>+</sup>
                                <p class="cate-name">Bedroom Sofas</p> <a href="#">Shop now</a> </div>
                        </div>
                    </div><!-- /.block-shopnow -->
                    <div class="block-shopnow">
                        <div class="left">
                            <div class="image">
                                <a href="#"> <img src="images/banner/deco3.jpg" title="banner" alt="banner">
                                </a>
                            </div>
                            <div class="title"> <i>50</i><sup>%</sup><sub>off</sub>
                                <p class="cate-name">Living room</p>
                                <p class="count-product">10 Products</p> <a href="#">Shop now</a> </div>
                        </div>
                        <div class="right">
                            <div class="image">
                                <a href="#"> <img src="images/banner/deco4.jpg" title="banner" alt="banner"> </a>
                            </div>
                            <div class="title">
                                <h2>New Arrivals</h2> <i>1000</i><sup>+</sup>
                                <p class="cate-name">Bedroom Sofas</p> <a href="#">Shop now</a> </div>
                        </div>
                    </div><!-- /.block-shopnow -->
                </div>
            </div>
        </div><!-- /.container -->
        <div class="bt-staticblock-freeshipping" style="background-image: url(images/homepage3_shipping_bg.jpg);">
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-paper-plane"></i></a>
                <div class="bt-staticblock-title">
                    <h2><a href="#">Return &amp; exchange</a> </h2>
                    <p>Vintage pastel tucked t-shirt leather ecru rings cable knit knitwear grunge washed out. Street style gold collar plaited black white shirt neutral cuff seam Maison Martin Margiela.</p>
                </div>
            </div>
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-truck"></i></a>
                <div class="bt-staticblock-title">
                    <h2>  <a href="#">Free Shipping </a>     </h2>
                    <p>Givenchy knot ponytail slipper bomber chunky sole slip dress Céline. Loafer Jil Sander Vasari oversized sweatshirt sneaker black lilac 90s skirt rings. Sports luxe button up navy blue tee denim shorts.</p>
                </div>
            </div>
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-tag"></i></a>
                <div class="bt-staticblock-title">
                    <h2><a href="#"> Member Discount  </a></h2>
                    <p>Flats Cara D. dress knitwear leather tote. Round sun- glasses midi cable knit cami chambray dungaree neu- tral. Bandeau A.P.C collarless silhouette strong eye- brows denim floral cuff sandal Paris.</p>
                </div>
            </div>
        </div><!-- /.bt-staticblock-freeshipping -->


        <div class="bt-block-theme-features col-xs-12">
            <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="boss_gallery">
                          <div class="gallery-title">
                              <h1>Our Brands</h1>
                          </div>
                          <div id="gallery" class="isotope variable-sizes clearfix">
                              <div class="item ourbrand">
                                  <a title="Magento" href="#" class="swipebox"> <img src="images/brand/brand_1.png" alt="Magento"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Gala themes" href="#" class="swipebox"> <img src="images/brand/brand_2.png" alt="Gala themes"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Pres themes" href="#" class="swipebox"> <img src="images/brand/brand_3.png" alt="Pres themes"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Egg themes" href="#" class="swipebox"> <img src="images/brand/brand_4.png" alt="Egg themes"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="WPDance" href="#" class="swipebox"> <img src="images/brand/brand_5.png" alt="WPDance"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Shopify" href="#" class="swipebox"> <img src="images/brand/brand_6.png" alt="Shopify"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Codespot" href="#" class="swipebox"> <img src="images/brand/brand_7.png" alt="Codespot"> </a>
                              </div>
                              <div class="item ourbrand">
                                  <a title="Boss" href="#" class="swipebox"> <img src="images/brand/brand_8.png" alt="Boss"> </a>
                              </div>
                          </div>
                      </div><!-- /.boss_gallery -->
                  </div>
              </div>
            </div>
        </div><!-- /.bt-block-theme-features -->
        <div id="bt_footer">
            <footer>
                <div class="bt-footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="footer-about">
                                    <a href="/"><img src="images/Decotestlogo.png" alt="Comohost" title="Comohost" />
                                    </a>
                                    <p>Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt.<span class="bold-italic"> Black skirt razor pleats plaited gold collar.</span> Crop 90s spearminit indigo seam luxe washed out.</p>
                                </div>
                                <div class="footer-contact">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> <span> &nbsp;249, Ung Van Khiem St., Binh Thanh Dist, HCMC.</span>
                                        </li>
                                        <li><i class="fa fa-phone"></i> <span>+084 0123 456 999</span>
                                        </li>
                                        <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:support@codespot.vn">support@codespot.vn</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a class="facebook" href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a class="pinterest" href="https://www.pinterest.com/" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        <li><a class="twitter" href="https://twitter.com/" title="Twiter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="google" href="https://plus.google.com/" title="Google plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a class="rss" href="https://www.rss.com/" title="RSS"><i class="fa fa-rss"></i></a>
                                        </li>
                                        <li><a class="youtube" href="https://www.youtube.com/" title="YouTube"><i class="fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.col-md-4 -->
                            <!-- Load modules in position footer top-->
                            <div class="col-md-4 col-xs-12">
                                <div class="box block boss-recent-post">
                                    <div class="box-heading"> <span>Recent Post</span> </div>
                                    <div class="box-content block-content">
                                        <ol>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="images/blog/b2-98x70.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <a class="article-title" href="blog-detail.html">Braid slipper dress dungaree </a><small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="images/blog/b1-98x70.jpg" alt="Indigo skirt skirt braid vintage" title="Indigo skirt skirt braid vintage" />
                                                    </a>
                                                </div>
                                                <div class="title"> <a class="article-title" href="blog-detail.html">Indigo skirt skirt braid vintage</a> <small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="images/blog/b5-98x70.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" />
                                                    </a>
                                                </div>
                                                <div
                                                    class="title"> <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> <small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4 col-xs-12">
                                <div class="box-tweeter column col-xs-12">
                                    <div class="tweeter-heading">
                                        <h3>Recent Tweets</h3>
                                    </div>
                                    <div class="tweeter-content">
                                        <ul id="twitter-list">
                                            <li class="status-item">
                                                <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                                                <div class="tweet-content">
                                                    <div class="tweet-name"><span>bossthemes</span>
                                                    </div>
                                                    <div class="tweet-text">
                                                        <p>dolor sit amet Consectetur adipiscing elit Morbi Tincidunt neque vitae</p>
                                                    </div>
                                                    <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230890474217549827">Thu Aug 02 04:59:13 +0000 2012</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="status-item">
                                                <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                                                <div class="tweet-content">
                                                    <div class="tweet-name"><span>bossthemes</span>
                                                    </div>
                                                    <div class="tweet-text">
                                                        <p>amet Consectetur adipiscing elit Morbi Tincidunt neque vitae risus @e</p>
                                                    </div>
                                                    <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230526741523873793">Wed Aug 01 04:53:52 +0000 2012</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /.col-md-4 -->
                        </div>
                    </div>
                </div><!-- /.bt-footer-top -->
                <div class="bt-footer-middle">
                    <div class="container">
                        <div class="row">
                            <!-- Load modules in position footer newsletter-->
                            <div class="bt-newsletter col-xs-12">
                                <div class="footer-newsletter">
                                    <div class="title"> <span><i class="fa fa-envelope"></i></span>
                                        <p>Subscribe to receive our news everyday!</p>
                                    </div>
                                    <div class="newsletter-content">
                                        <div id="frm_subscribe">
                                            <form name="subscribe" id="subscribe">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="boss-newsletter">
                                                                <input class="form-control input-new" size="50" type="text" placeholder="Enter your email address here" name="subscribe_email" id="subscribe_email"> <a class="btn btn-new"><i class="fa fa-paper-plane"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="display:none;">
                                                        <td>
                                                            <input class="form-control input-new" size="50" type="text" value="Enter your email address here" name="subscribe_name" id="subscribe_name">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td id="subscribe_result"></td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.bt-footer-middle -->
                <div class="bt-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="link">
                                <ul class="list-unstyled">
                                    <li><a href="contact.html">Contact Us</a>
                                    </li>
                                    <li><a href="#">Site Map</a>
                                    </li>
                                    <li><a href="#">Brands</a>
                                    </li>
                                    <li><a href="#">Affiliates</a>
                                    </li>
                                    <li><a href="#">Specials</a>
                                    </li>
                                    <li><a href="#">Newsletter</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="powered-payment">
                                <div class="row">
                                    <div class="powered col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div id="powered">
                                            <p>© 2015 Fashion Store. All rights Reserved.<span> Themes by <a href="http://htmlcooker.com">HTMLCooker</a>.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li>
                                                <a title="Visa" href="#" class="visa"><img alt="Visa" src="images/visa.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="MasterCard" href="#" class="masterCard"><img alt="MasterCard" src="images/master_card.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Paypal" href="#" class="paypal"><img alt="Paypal" src="images/paypal.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Merican" href="#" class="merican"><img alt="Merican" src="images/american.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="DHL" href="#" class="dhl"><img alt="DHL" src="images/dhl.jpg">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.bt-footer-bottom -->
            </footer>
        </div><!-- /#bt_footer -->
        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
        <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModal">
            <div style="width: 95%; max-width: 900px;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div id="notification"></div>
                        <div id="modal-content">
                            <div class="product-info-qs product-info">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="bt-product-zoom">
                                            <div class="image">
                                                <a href="images/product/p1-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom" id="zoomqs" rel=""><img src="images/product/p1-419x555.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" id="image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="product-name">
                                            <h1>Cashmere cuff vintage Levi maxi</h1> </div>
                                        <div class="description"> Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blandit eget, tristique id risus. Donec nibh lorem, rhoncus a orci vitae. Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blandit eget, tristique id risus. Donec nibh lorem, rhoncus a orci vitae, cursus volutpat lectus. Aliquam tincidunt leo ac dui efficitur, eget tristique sapien faucibus. Etiam tempor quam mauris,Fusce ut pellentesque justo. Aliquam s.. </div>
                                        <div class="price_info"> <span class="price">$122.00</span> </div>
                                        <div class="button-group">
                                            <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i> Add to Wish List</button>
                                            <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i> Compare this Product</button>
                                        </div>
                                        <div class="viewdetail"> <a href="product-detail.html">View Detail &gt;&gt;</a> </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="image-additional">
                                            <ul id="boss_image_additional">
                                                <li>
                                                    <a href="images/product/p1-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p1-419x555.jpg' "><img src="images/product/p1-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/product/p10-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p10-419x555.jpg' "><img src="images/product/p10-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/product/p11-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p11-419x555.jpg' "><img src="images/product/p11-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/product/p16-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p16-419x555.jpg' "><img src="images/product/p16-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/product/p15-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p15-419x555.jpg' "><img src="images/product/p15-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/product/p18-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: 'images/product/p18-419x555.jpg' "><img src="images/product/p18-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#myModal -->

    </div>

    <script src="../javascripts/jquery-2.1.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/getwidthbrowser.js"></script>
    <script src="../javascripts/cs.bossthemes.js"></script>
    <script src="../javascripts/jquery.jgrowl.js"></script>
    <script src="../javascripts/jquery.appear.js"></script>
    <script src="../javascripts/video.js"></script>
    <script src="../javascripts/jquery.smoothscroll.js"></script>
    <script src="../javascripts/carouFredSel-6.2.1.js"></script>
    <script src="../javascripts/isotope.pkgd.js"></script>
    <script src="../javascripts/plugins.js"></script>
    <script src="../javascripts/jquery.tools.min.js"></script>
    <script src="../javascripts/jquery.revolution.min.js"></script>
    <script src="../javascripts/cloud-zoom.1.0.3.js"></script>
    <script src="../javascripts/custom.js"></script>
    <!--[if IE 8]>
    <script type="text/javascript">
    $(window).scroll(function() {
            var height_header = $('#bt_header').height();
            if($('html').scrollTop() > height_header) {
                $('header').addClass('boss_scroll');
            } else {
                $('header').removeClass('boss_scroll');
            }
        });
    </script>
    <![endif]-->
    <script>
        jQuery(document).ready(function() {
            /* Main Slider */
            $('.tp-banner0').show().revolution({
                dottedOverlay: "none",
                delay: 5000,
                startWithSlide: 0,
                startwidth: 1920,
                startheight: 818,
                hideThumbs: 10,
                hideTimerBar: "on",
                thumbWidth: 50,
                thumbHeight: 50,
                thumbAmount: 4,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "round",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 50,
                soloArrowLeftVOffset: 8,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 50,
                soloArrowRightVOffset: 8,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "on",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 500,
                hideAllCaptionAtLilmit: 500,
                videoJsPath: "rs-plugin/videojs/",
                fullScreenOffsetContainer: ""
            });

            boss_quick_shop();
        });


        /* Modal Quick Shop */
        $('#myModal').on('shown.bs.modal', function (e) {
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '552',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
        })
        /* Quick Shop */
        function boss_quick_shop(){
            $('.product-thumb').each(function(index, value){
                var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
                $('.button-group', this).append(_qsHref);
            });
        }
    </script>
</body>
</html>
