<body class="">
        <div class="bt-breadcrumb">
            <div class="container">
                <div class="row">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a>
                        </li>
                        <li><a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.bt-breadcrumb -->
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <h1>Contact Us</h1>
                    <h3>Our Location</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>Miami Store</strong>
                                    <br />
                                    <address>Address 1</address>
                                </div>
                                <div class="col-sm-3">
                                    <strong>Telephone</strong>
                                    <br> 305-859-4848
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <iframe class="map-top" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCimZ4LwppmarhFIoQame4XrOfPwwV_gmc&zoom=15&q=2646 SW 28th St, Miami, FL 33133, USA" allowfullscreen=""></iframe>
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <h3>Contact Form</h3>
                            <div class="required">
                                <label class="control-label" for="input-name">Your Name</label>
                                <input type="text" name="name" value="" id="input-name" class="form-control" /> </div>
                            <div class="required">
                                <label class="control-label" for="input-email">E-Mail Address</label>
                                <input type="text" name="email" value="" id="input-email" class="form-control" /> </div>
                            <div class="required">
                                <label class="control-label" for="input-enquiry">Enquiry</label>
                                <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                            </div>
                        </fieldset>
                        <div class="buttons">
                            <div class="pull-left">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div><!-- /#content -->
            </div><!-- /.row -->
        </div><!-- /.container -->


        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
    </div>

    <script src="/assets/jquery-2.1.1.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/getwidthbrowser.js"></script>
    <script src="/assets/cs.bossthemes.js"></script>
    <script src="/assets/jquery.jgrowl.js"></script>
    <script src="/assets/jquery.appear.js"></script>
    <script src="/assets/video.js"></script>
    <script src="/assets/jquery.smoothscroll.js"></script>
    <script src="/assets/carouFredSel-6.2.1.js"></script>
    <script src="/assets/isotope.pkgd.js"></script>
    <script src="/assets/plugins.js"></script>
    <script src="/assets/jquery.tools.min.js"></script>
    <script src="/assets/jquery.revolution.min.js"></script>
    <script src="/assets/cloud-zoom.1.0.3.js"></script>
    <script src="/assets/custom.js"></script>
    <script>
        jQuery(document).ready(function() {
            /* View Mode */
            // Article List
            $('#list-view').on('click',function() {
                $('#content .article-layout').attr('class', 'article-layout article-list col-xs-12');
                localStorage.setItem('display', 'list');
            });
            // Article Grid
            $('#grid-view').on('click',function() {
                // What a shame bootstrap does not take into account dynamically loaded columns
                cols = $('#column-right, #column-left').length;
                if (cols == 2) {
                    $('#content .article-layout').attr('class', 'article-layout article-grid col-md-6 col-xs-12');
                } else if (cols == 1) {
                    $('#content .article-layout').attr('class', 'article-layout article-grid col-md-4 col-sm-6 col-xs-12');
                } else {
                    $('#content .article-layout').attr('class', 'article-layout article-grid col-md-3 col-sm-4 col-xs-12');
                }
                localStorage.setItem('display', 'grid');
            });
            if (localStorage.getItem('display') == 'list') {
                $('#list-view').trigger('click');
            } else {
                $('#grid-view').trigger('click');
            }
        });
    </script>
</body>
</html>
