.container.main-content
  .row
    column#column-left.col-sm-3.hidden-xs
    #content.col-sm-12
      .bt-block-category.fadeInDown.animated data-animate="fadeInDown" data-delay="200"
        a href="#" 
          img alt="banner" src= @category.picture.url(:large)
        .block-title
          h1 = @category.name
          h4 glamour with an edge
          a href="#"  Shop Now

      .product-filter
        .display.hidden-xs
          button#list-view.btn-list data-toggle="tooltip" title="List" type="button" 
            i.fa.fa-th-list
          button#grid-view.btn-grid data-toggle="tooltip" title="Grid" type="button" 
            i.fa.fa-th-large
      .row
        = render partial: 'products/product_card', :collection => @category.products, :as => :product

script src="#{ request.base_url }/javascripts/jquery-2.1.1.min.js"
script src="#{ request.base_url }/javascripts/bootstrap.min.js"
script src="#{ request.base_url }/javascripts/getwidthbrowser.js"
script src="#{ request.base_url }/javascripts/cs.bossthemes.js"
script src="#{ request.base_url }/javascripts/jquery.jgrowl.js"
script src="#{ request.base_url }/javascripts/jquery.appear.js"
script src="#{ request.base_url }/javascripts/video.js"
script src="#{ request.base_url }/javascripts/jquery.smoothscroll.js"
script src="#{ request.base_url }/javascripts/carouFredSel-6.2.1.js"
script src="#{ request.base_url }/javascripts/plugins.js"
script src="#{ request.base_url }/javascripts/jquery.tools.min.js"
script src="#{ request.base_url }/javascripts/jquery.revolution.min.js"
script src="#{ request.base_url }/javascripts/cloud-zoom.1.0.3.js"
script src="#{ request.base_url }/javascripts/custom.js"
javascript:
    jQuery(document).ready(function() {
        dataAnimate();

        /* View Mode */
        // Product List
        $('#list-view').on('click',function() {
            $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
            localStorage.setItem('display', 'list');
        });
        // Product Grid
        $('#grid-view').on('click',function() {
            // What a shame bootstrap does not take into account dynamically loaded columns
            cols = $('#column-right, #column-left').length;
            if (cols == 2) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12');
            } else if (cols == 1) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12');
            } else {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            }
            localStorage.setItem('display', 'grid');
        });
        if (localStorage.getItem('display') == 'list') {
            $('#list-view').trigger('click');
        } else {
            $('#grid-view').trigger('click');
        }
    });
    /* Modal Quick Shop */
    $('#myModal').on('shown.bs.modal', function (e) {
        $.fn.CloudZoom.defaults = {
            adjustX: 0,
            adjustY: 0,
            tint: '#FFF',
            tintOpacity: 0.5,
            softFocus: 0,
            lensOpacity: 0.7,
            zoomWidth: '450',
            zoomHeight: '552',
            position: 'inside',
            showTitle: 0,
            titleOpacity: 0.5,
            smoothMove: '3'
        };
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    })
    /* Quick Shop */
    function boss_quick_shop(){
        $('.product-thumb').each(function(index, value){
            var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
            $('.button-group', this).append(_qsHref);
        });
    }