<body class="">
        <div class="container">
            <div class="row">
                <column id="column-left" class="col-sm-3 hidden-xs">
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-12">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="bt-product-zoom">
                                    <div class="bosszoomtoolbox boss-additional">
                                        <div itemprop="image" class="image">
                                            <a href="/images/product/p21-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom" id='zoom1' rel=""><img src="/images/product/p21-550x626.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" id="image" />
                                            </a>
                                        </div>
                                        <div class="image-additional">
                                            <ul class="thumbnails" id="boss-image-additional">
                                                <li class="image-additional">
                                                    <a href="/images/product/p21-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p21-550x626.jpg' "><img src="/images/product/p21-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="/images/product/p18-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p18-550x626.jpg' "><img src="/images/product/p18-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="/images/product/p1-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p1-550x626.jpg' "><img src="/images/product/p1-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="/images/product/p16-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p16-550x626.jpg' "><img src="/images/product/p16-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="/images/product/p11-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p11-550x626.jpg' "><img src="/images/product/p11-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="/images/product/p10-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/images/product/p10-550x626.jpg' "><img src="/images/product/p10-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                            </ul> <a id="prev_image_additional" class="prev nav_thumb" href="javascript:void(0)" style="display:block;" title="prev"><i data-original-title="Previous" class="fa fa-angle-left btooltip">&nbsp;</i></a> <a id="next_image_additional" class="next nav_thumb" href="javascript:void(0)" style="display:block;" title="next"><i data-original-title="Next" class="fa fa-angle-right btooltip">&nbsp;</i></a>
                                        </div><!-- /.image-additional -->
                                    </div><!-- /.bosszoomtoolbox -->
                                </div><!-- /.bt-product-zoom -->
                            </div>
                            <div class="col-sm-6">
                                <h2>Cashmere cuff vintage Levi maxi</h2>
                                <div class="review">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> </div>
                                    <div class="review_text"> <a href="#" onclick="$('a[href=\'#tab_review\']').trigger('click'); goToByScroll('review'); return false;">2 reviews</a> <a href="" onclick="$('a[href=\'#tab_review\']').trigger('click'); goToByScroll('bt_review'); return false;"> Write a review</a> </div>
                                </div><!-- /.review -->
                                <div class="description">
                                    <h3>INFO</h3>
                                    <ul class="list-unstyled">
                                        <li>- Brand: <a href="#">Apple</a>
                                        </li>
                                        <li>- Product Code: Product 5</li>
                                        <li>- Availability:<b class="stock"> In Stock</b>
                                        </li>
                                    </ul>
                                </div><!-- /.description -->
                                <div class="price_info">
                                    <span class="price">$122.00</span>
                                    <br> <span class="price-tax">Ex Tax: $100.00</span>
                                    <br>
                                </div><!-- /.price_info -->
                                <div id="product" class="options">
                                    <h3>Available Options</h3>
                                    <div class="form-group required">
                                        <label class="control-label">Color</label>
                                        <div id="input-option229">
                                            <div class="radio bt-image-option">
                                                <label>
                                                    <input type="radio" name="option[229]" value="26" /> <img src="/images/colors/pink-50x50.png" alt="Pink +$36.00" /> Pink (+$36.00) </label>
                                            </div>
                                            <div class="radio bt-image-option">
                                                <label>
                                                    <input type="radio" name="option[229]" value="25" /> <img src="/images/colors/black-50x50.png" alt="Black +$120.00" /> Black (+$120.00) </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart">
                                        <div class="quantily_info">
                                            <div class="title_text"><span>Qty</span>
                                            </div>
                                            <div class="select_number">
                                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                                <button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-angle-up"></i>
                                                </button>
                                                <button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-angle-down"></i>
                                                </button>
                                            </div>
                                            <input type="hidden" name="product_id" size="2" value="32" /> </div>
                                        <div class="button-group">
                                            <button type="button" id="button-cart" data-loading-text="Loading..." class="btn-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i> Add to Wish List</button>
                                            <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i> Compare this Product</button>
                                        </div>
                                    </div>
                                </div><!-- /.options -->
                            </div>
                        </div>
                    </div><!-- /.product-info -->

                        <div class="face-comment tab-pane" id="tab_facecomments">
                            <div class="bt-facecomments">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="fb-comments" data-href="" data-colorscheme="light" data-numposts="5" data-order-by="reverse_time"></div>
                                    </div>
                                </div>
                                <div id="fb-root"></div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div><!-- /#content -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div id="bt_footer">
            <footer>
                <div class="bt-footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="footer-about">
                                    <a href="index.html"><img src="/../images/Decotestlogo.svg" alt="Comohost" title="Comohost" />
                                    </a>
                                    <p>Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt.<span class="bold-italic"> Black skirt razor pleats plaited gold collar.</span> Crop 90s spearminit indigo seam luxe washed out.</p>
                                </div>
                                <div class="footer-contact">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> <span> &nbsp;249, Ung Van Khiem St., Binh Thanh Dist, HCMC.</span>
                                        </li>
                                        <li><i class="fa fa-phone"></i> <span>+084 0123 456 999</span>
                                        </li>
                                        <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:support@codespot.vn">support@codespot.vn</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a class="facebook" href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a class="pinterest" href="https://www.pinterest.com/" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        <li><a class="twitter" href="https://twitter.com/" title="Twiter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="google" href="https://plus.google.com/" title="Google plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a class="rss" href="https://www.rss.com/" title="RSS"><i class="fa fa-rss"></i></a>
                                        </li>
                                        <li><a class="youtube" href="https://www.youtube.com/" title="YouTube"><i class="fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.col-md-4 -->
                            <!-- Load modules in position footer top-->
                            <div class="col-md-4 col-xs-12">
                                <div class="box block boss-recent-post">
                                    <div class="box-heading"> <span>Recent Post</span> </div>
                                    <div class="box-content block-content">
                                        <ol>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="/images/blog/b2-98x70.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <a class="article-title" href="blog-detail.html">Braid slipper dress dungaree </a><small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="/images/blog/b1-98x70.jpg" alt="Indigo skirt skirt braid vintage" title="Indigo skirt skirt braid vintage" />
                                                    </a>
                                                </div>
                                                <div class="title"> <a c
                                                    lass="article-title" href="blog-detail.html">Indigo skirt skirt braid vintage</a> <small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                            <li class="item-recent-post">
                                                <div class="image">
                                                    <a class="article-title" href="blog-detail.html"><img src="/images/blog/b5-98x70.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" />
                                                    </a>
                                                </div>
                                                <div
                                                    class="title"> <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> <small class="time-stamp">Dec 22, 2014 </small>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4 col-xs-12">
                                <div class="box-tweeter column col-xs-12">
                                    <div class="tweeter-heading">
                                        <h3>Recent Tweets</h3>
                                    </div>
                                    <div class="tweeter-content">
                                        <ul id="twitter-list">
                                            <li class="status-item">
                                                <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                                                <div class="tweet-content">
                                                    <div class="tweet-name"><span>bossthemes</span>
                                                    </div>
                                                    <div class="tweet-text">
                                                        <p>dolor sit amet Consectetur adipiscing elit Morbi Tincidunt neque vitae</p>
                                                    </div>
                                                    <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230890474217549827">Thu Aug 02 04:59:13 +0000 2012</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="status-item">
                                                <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                                                <div class="tweet-content">
                                                    <div class="tweet-name"><span>bossthemes</span>
                                                    </div>
                                                    <div class="tweet-text">
                                                        <p>amet Consectetur adipiscing elit Morbi Tincidunt neque vitae risus @e</p>
                                                    </div>
                                                    <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230526741523873793">Wed Aug 01 04:53:52 +0000 2012</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /.col-md-4 -->
                        </div>
                    </div>
                </div><!-- /.bt-footer-top -->
                <div class="bt-footer-middle">
                    <div class="container">
                        <div class="row">
                            <!-- Load modules in position footer newsletter-->
                            <div class="bt-newsletter col-xs-12">
                                <div class="footer-newsletter">
                                    <div class="title"> <span><i class="fa fa-envelope"></i></span>
                                        <p>Subscribe to receive our news everyday!</p>
                                    </div>
                                    <div class="newsletter-content">
                                        <div id="frm_subscribe">
                                            <form name="subscribe" id="subscribe">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="boss-newsletter">
                                                                <input class="form-control input-new" size="50" type="text" placeholder="Enter your email address here" name="subscribe_email" id="subscribe_email"> <a class="btn btn-new"><i class="fa fa-paper-plane"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="display:none;">
                                                        <td>
                                                            <input class="form-control input-new" size="50" type="text" value="Enter your email address here" name="subscribe_name" id="subscribe_name">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td id="subscribe_result"></td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.bt-footer-middle -->
                <div class="bt-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="link">
                                <ul class="list-unstyled">
                                    <li><a href="contact.html">Contact Us</a>
                                    </li>
                                    <li><a href="#">Site Map</a>
                                    </li>
                                    <li><a href="#">Brands</a>
                                    </li>
                                    <li><a href="#">Affiliates</a>
                                    </li>
                                    <li><a href="#">Specials</a>
                                    </li>
                                    <li><a href="#">Newsletter</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="powered-payment">
                                <div class="row">
                                    <div class="powered col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div id="powered">
                                            <p>© 2015 Fashion Store. All rights Reserved.<span> Themes by <a href="http://htmlcooker.com">HTMLCooker</a>.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li>
                                                <a title="Visa" href="#" class="visa"><img alt="Visa" src="/images/visa.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="MasterCard" href="#" class="masterCard"><img alt="MasterCard" src="/images/master_card.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Paypal" href="#" class="paypal"><img alt="Paypal" src="/images/paypal.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Merican" href="#" class="merican"><img alt="Merican" src="/images/american.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="DHL" href="#" class="dhl"><img alt="DHL" src="/images/dhl.jpg">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.bt-footer-bottom -->
            </footer>
        </div><!-- /#bt_footer -->
        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
    </div>

    <script src="../javascripts/jquery-2.1.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/getwidthbrowser.js"></script>
    <script src="../javascripts/cs.bossthemes.js"></script>
    <script src="../javascripts/jquery.jgrowl.js"></script>
    <script src="../javascripts/jquery.appear.js"></script>
    <script src="../javascripts/video.js"></script>
    <script src="../javascripts/jquery.smoothscroll.js"></script>
    <script src="../javascripts/carouFredSel-6.2.1.js"></script>
    <script src="../javascripts/isotope.pkgd.js"></script>
    <script src="../javascripts/plugins.js"></script>
    <script src="../javascripts/jquery.tools.min.js"></script>
    <script src="../javascripts/jquery.revolution.min.js"></script>
    <script src="../javascripts/cloud-zoom.1.0.3.js"></script>
    <script src="../javascripts/custom.js"></script>
    <script src="../javascripts/jquery.fancybox.js"></script>
    <script>
        jQuery(document).ready(function() {
            /* bosszoomtoolbox */
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '512',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();

            //pass the images to Fancybox
            var gallerylist = [];
            gallerylist.push({
                href: "/images/product/p21-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p18-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p1-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p16-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p11-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p10-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            $("#wrap").bind('click', function() {
                $.fancybox.open(gallerylist);
                return false;
            });

            $("#boss-image-additional li a").on('click',function() {
                $("#boss_large").attr("href", this)
            });

            /* Color Option */
            $('.bt-image-option').on('click',function() {
                $('.bt-image-option').each(function() {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });

            /* boss-image-additional slider */
            $('#boss-image-additional').carouFredSel({
                auto: false,
                responsive: true,
                width: '100%',
                prev: '#prev_image_additional',
                next: '#next_image_additional',
                swipe: {
                    onTouch: true
                },
                items: {
                    width: 120,
                    height: 'auto',
                    visible: {
                        min: 1,
                        max: 3
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 500, //  The duration of the transition.
                }
            });

        });

        function changeQty(increase) {
            var qty = parseInt($('.select_number').find("input").val());
            if (!isNaN(qty)) {
                qty = increase ? qty + 1 : (qty > 1 ? qty - 1 : 1);
                $('.select_number').find("input").val(qty);
            } else {
                $('.select_number').find("input").val(1);
            }
        }
        function goToByScroll(id){
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
    </script>
</body>
</html>
